.threads-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  z-index: 0;
  opacity: 0.9;
}

.threads-container:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.threads-container canvas {
  width: 100% !important;
  height: 100% !important;
} 